.videotitle {
    margin: 5px;
}

.videowrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    
}

.videocontainer {
    margin: 10px;
    margin-bottom: 50px;
    /* background-color: red; */
        /* border: 1px dashed red; */
    /* padding: 10px; */
}

.videosdescrip {
    margin: 10px;
}



/* MEDIA QUERIES */
@media (min-width: 600px) {
    .videowrapper {
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin: 50px 0 0 0;
        
    }

    .videocontainer {
        flex: 0 1 40%;
    }
  }