img {
    width: 100%;
}

/* writehome */
.menu {
    margin: auto;
}
.writeitem {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 auto;
}

.writeimg {
    width: 100px;
}

.writelink {
    margin: 10px;
}

/* chapters */

.chapter {
    display: flex;
    flex-flow: column nowrap;
    margin: 10px 10px 10% 10px;
    align-items: flex-start;
    position: relative;
}

.chaptertitle {
    padding: 10px;
    border: 2px dashed red;
    position: sticky;
    top: 3%;
    left: 0px;
    margin: 0 3%;
    background-color: black;
   
}

.singlecol {
    margin: 0 3%;
}

.doublecol {
    margin: 0 3%;
}

.subchapter {
    margin-bottom: 50px;
}

.imgrow {
    display: flex;
    flex-flow: column nowrap;
}

/* MEDIA QUERIES */
@media (min-width: 600px) {

    .wrapper {

    }

    /* home */

    .writeitem {
    }

    /* chapters */

    .chapter {
        width: 70%;
    }

    .chaptertitle {
        /* transform-origin: bottom left;
        transform: rotate(90deg); */
    }

    .singlecol {
        /* margin-left: 10%; */
        
    }
    .doublecol {
   
        column-count: 2;
        column-width: 50%;
        column-gap: 3em;
        /* margin-left: 10%; */
    }

    .subchapter {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid; /* Firefox is dumb */
        break-inside: avoid;
        padding: 20px 0;
        margin: 20px 0;
    }

    .imgrow {
        flex-flow: row wrap;
    }

    .imgrow > img {
        flex: 0 1 50%;
    }
  }
