img {
    width: 100%;
}

/* writehome */
.red {
    color: red;
}
.writehome {
    height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.writeitem {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.writeimg {
    width: 100px;
}

.writelink {
    margin: 10px;
}

/* chapters */

.chapter {
    display: flex;
    flex-flow: column nowrap;
    margin: 10px;
    align-items: flex-start;
    position: relative;
}

.chaptertitle {
    padding: 10px;
    border: 2px dotted red;
    position: sticky;
    top: 3%;
    left: 0px;
    margin: 0 3%;
    background-color: black;
   
}

.singlecol {
    margin: 0 3%;
}

.subchapter {
    margin-bottom: 50px;
}

.special {
    padding: 20px;
    border: 1px dashed red;
}

/* MEDIA QUERIES */
@media (min-width: 600px) {

    /* .wrapper {
        width: 85%;
        margin: auto;
    } */

    /* home */
    .writehome {
        width: 40%;
    }

    .writeitem {
        
    }

    /* chapters */

    .chaptertitle {
        transform-origin: bottom left;
        transform: rotate(90deg);
    }

    .singlecol {
        margin-left: 10%;
    }
    .doublecol {
   
        column-count: 2;
        column-width: 50%;
    }

    .subchapter {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid; /* Firefox is dumb */
        break-inside: avoid;
        padding: 20px;
        margin: 20px;
    }
  }
